<h1>Welcome to Tekcít!</h1><br />
<% if logged_in? %>
  Welcome, <%= link_to  "#{User.find(session[:user_id]).first_name}!", user_path(session[:user_id]) %><br>
  <%= link_to "Sign Out", signout_path  %>
  <% else %>
  <%= link_to "Sign In", signin_path %><br>
  <%= link_to "Sign Up", signup_path %><br>
<% end %>
<h2>See all:</h2><br />
<img src=<%= City.all.sample.thumbnail%> height="200" width="200">
<h3><%= link_to "Cities", cities_path %><br /></h3>
<img src=<%= MovieTheatre.all.sample.thumbnail%> height="200" width="200">
<h3><%= link_to "Movie Theatres", movietheatres_path %><br /></h3>
<img src=<%= Movie.all.sample.thumbnail%> height="200" width="200">
<h3><%= link_to "Movies", movies_path %><br /></h3>
<h3><%= link_to "Genres", genres_path %><br /></h3>
