<h1>Welcome to Tekcít!</h1><br/>
<%= link_to "Sign In", signin_path %><br>
<%= link_to "Sign Up", signup_path %><br>
<% if logged_in? %>
  <p>Welcome, <%= User.find(session[:user_id]).first_name %>! </p>
  <%= link_to "Log Out", logout_path  %>
<% end %>
<h2>See all:</h2><br/>
<%= link_to "Cities", cities_path %>
<%= link_to "Genres", genres_path %>
<%= link_to "Movie Theatres", movie_theatres_path %>
<%= link_to "Movies", movies_path %>
