<h1><%= @user.first_name %>'s' Ticket Page!</h1>
<% @tickets.each do |ticket| %>
<% showtime =  Showtime.find(ticket.showtime_id) %>
<% theatre = MovieTheatre.find(showtime.movie_theatre_id) %>
<ol>
  <b><li>
    Movie: <i><%= showtime.movie.name %></i><br />
    Movie Theatre: <%= theatre.name %><br />
    Played at: <%= showtime.start_time %><br />
    Date: <%= showtime.show_date %><br />
  </li></b><br />
</ol>
<% end %>
