<h1><%= @city.name %></h1>
<img src=<%= @city.full_image%> height="1000" width="1000">
<h2>Avaliable Theatres</h2>
<ol>
  <% @theatres.each do |theatre| %>
    <li>
      <img src=<%= theatre.thumbnail%> height="200" width="200">
      <h3><%= theatre.name %></h3> <%= button_to "See Available Movies", "/movietheatres/#{theatre.id}", method: :get  %>
    </li><br />
    <% end %>
</ol>
