<h1><%= @city.name %></h1>
<img src=<%= @city.full_image%> height="500" width="500">

<h2>Avaliable Theatres</h2>

<div class="ui grid">
  <div class="ui cards">
    <% @theatres.each do |theatre| %>
      <div class="four wide column">
        <div class="card">
          <div class="image">
            <img src=<%= theatre.thumbnail%> height="200" width="200">
          </div>
          <div class="ui center aligned extra content">
            <div class="header"><br />
              <%= theatre.name %>
            </div>
          </div>
          <%= button_to "See Available Movies", "/movietheatres/#{theatre.id}", {method: :get, class: "fluid ui teal button"}  %>
      </div>
    </div>
      <% end %>
  </div>
</div>
