<h1><%= @movie.name %></h1>
<img src=<%= @movie.full_image %> height="500" width=100%>
<% if !(@showtimes.empty?) %>
  <ol>
    <% @showtimes.each do |showtime| %>
        <img src=<%= showtime.movie_theatre.thumbnail%> height="200" width="200">
        <li><b>Location:</b> <%= link_to showtime.movie_theatre.name, "/movietheatres/#{showtime.movie_theatre.id}" %> <br>
          <b>Date:</b> <%= showtime.show_date %><br>
          <b>Showtime:</b> <%= showtime.start_time %><br />
          <b>Tickets available:</b> <%= showtime.tickets_left %>
          <% if logged_in? %>
            <% if showtime.tickets_left > 0 %>
              <%= form_for :ticket, options = {url: '/tickets', method: 'post'}  do |f| %>
                <%= f.hidden_field :user_id, :value => session[:user_id]%>
                <%= f.hidden_field :showtime_id, :value => showtime.id %>
                <%= f.submit "Purchase Ticket" %>
              <% end %>
            <% else %>
              <p>There's no more tickets left for this movie!</p>
            <% end %>
          <% end %>
        </li>
    <% end %>
  </ol>
<% else %>
  <%= "There are no showtimes available for this movie" %>
<% end %>
