<h1><%= @movie.name %></h1>

<% if !(@showtimes.empty?) %>
  <ol>
    <% @showtimes.each do |showtime| %>
        <li> <b>Location:</b> <%= link_to showtime.movie_theatre.name, movie_theatre_path(showtime.movie_theatre) %> <br> <b>Date:</b> <%= showtime.show_date %><br> <b>Showtime:</b> <%= showtime.start_time %> </li>
    <% end %>
  </ol>
<% else %>
  <%= "There are no showtimes available for this movie" %>
<% end %>
